.header {
    /* font-family: "SpriteGraffiti", sans-serif;
    font-weight: normal; */
    background-image: url(../../images/menu-img.png), url(../../images/daniel-clay-JplH8-KTjNU-unsplash\ 1.png);
    background-repeat: no-repeat;
    min-height: 828px;
    position: relative;
    color: white;
}