.header {
    background-image: url(../../images/backs/back_header_menu.png), url(../../images/backs/back_header_big.png);
    background-repeat: no-repeat;
    min-height: 828px;
    position: relative;
    color: white;
}