.form__input {
    color: white;
    width: 455px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 10px 0 13px;
    margin: 0 56px 0 0;
}

.form__input::placeholder {
    color: white;
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    padding-left: 5px;
}

.form__input:focus {
    outline: 1px solid #A5D83B;
}