.button {
    background-color: transparent;
    background-image: url(../../images/title-bg-image.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: fill;
    text-transform: uppercase;
    color: white;
    border: none;
}